<% content_for :title, "Edit Department" %>

<div class="edit">

  <div class="edit_info">
    <%= image_tag "cute.png" , class: "edit_img", alt: "Your avatar"  %>
    <span>Edit Note</span>
  </div>

  <%= form_for Department.new, url: { action: 'update' } do |f| %>
    

   
    <div class="eu_div">
      <span class='edit_span'>Title</span>
      <%= f.text_field :title, class: "e_username", placeholder: 'Title..', autofocus: true, spellcheck:false, autocomplete: false %>
    </div>
    <div class="eb_div">
      <span class='edit_span'>Content</span>
      <%= f.text_area :body , placeholder: "Content..", autofocus: true, class: "e_bio", spellcheck:false, autocomplete: false %>
    </div>
    <div class="eb_btns">
      <%= f.submit "Update Department" %>
    </div>

  <% end %>

</div>



